@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*
  Flex box
*/
.flexbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.flex-item {
  flex-wrap: wrap;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
  justify-content: space-between;
}

.flex-column {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  justify-content: space-between;
}

.flex-buttons {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 250px;
  justify-content: space-between;
}
.button {
  margin-bottom: 5px;
  width: 105px;
  height: 35px;
  background-color: #272727;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: #fddb3a;
}

.text {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.desc {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.active {
  font-weight: bold;
  color: #e8ce0c;
}

img {
  width: 150px;
  height: auto;
}

/*
 Nav bar imported from:https://codepen.io/WhisnuYs/pen/XWdpdGP
*/

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}
